* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: whitesmoke;
}
header {
  background-color: lightslategrey;
  text-align: center;
  padding: 10px;
}

main {
  padding: 0 20px;
}

.content {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 800px;
  width: 100%;
  margin: 40px auto;
  padding: 40px 20px 10px;
}
section {
  margin-bottom: 48px;
}
section h2 {
  margin-bottom: 24px;
}
.info ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.top h2 {
  margin-bottom: 0;
}
.top button {
  border: none;
  border-radius: 6px;
  background-color: lightslategrey;
  padding: 10px 40px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.top button:hover {
  color: white;
}
table {
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
table th {
  background-color: whitesmoke;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 5px;
}
.media {
  display: block;
  background-color: whitesmoke;
  margin-bottom: 24px;
  padding: 20px 10px;
}
h3 {
  margin-bottom: 12px;
}
ul {
  margin-left: 36px;
}
